<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to " Members", root_path %> </li>
        <li> <%= link_to " Providers", providers_path %> </li>
        <li> <%= link_to " Reports/Analytics", reports_path %> </li>
        <li> <%= link_to " Policies and Procedures", policies_path %> </li>
        <li> <%= link_to " Help", help_path %> </li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>