<!DOCTYPE html>
<html>
<head>
  <title>NEMT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "File", root_path %>
	<%= link_to "Report", report_path %>
	<%= link_to "Providers", providers_path %>
	<%= link_to "Help", help_path %>


<%= yield %>

</body>
</html>
